<div id="{{ partial.patternPartial }}" class="pl-c-pattern">
  <div class="pl-c-pattern__header">
    <h3 class="pl-c-pattern__title">
      <a href="../../patterns/{{ partial.patternLink }}" class="pl-c-pattern__title-link patternLink" data-patternpartial="{{ partial.patternPartial }}" title="Link to Pattern">
        {{ partial.patternName }}
        
        {% if partial.patternState %}
          <span class="pl-c-pattern-state pl-c-pattern-state--{{ partial.patternState }}">
            {{ partial.patternState }}
          </span>
        {% endif %}
      </a>
    </h3>
    
    <div class="pl-c-pattern-breadcrumb">
      {{ partial.patternBreadcrumb }}
    </div>
    
    <a href="#" data-patternpartial="{{ partial.patternPartial }}" title="View Pattern Info" id="pl-pattern-extra-toggle-{{partial.patternPartial}}" class="pl-c-pattern__extra-toggle pl-js-pattern-extra-toggle">
      <span>&#9660;</span>
    </a>
  </div>
  
  <div class="sg-pattern-extra" id="pl-pattern-extra-{{ partial.patternPartial }}"></div>
    
  <div class="pl-js-pattern-example">
    {{ partial.patternPartialCode | raw }}
  </div>
  
  <script type="text/json" id="pl-pattern-data-{{partial.patternPartial}}" class="pl-js-pattern-data">
    {{ partial.patternData | raw }}
  </script>
</div><!--end .sg-pattern-->
